:root {
  --font-family: "Poppins", sans-serif;
  --text: 400 1rem/1.5 var(--font-family);
  --text-sm: 400 0.875rem/1.5 var(--font-family);
  --text-heading-1: 700 2rem/120% var(--font-family);
  --text-heading-2: 600 2.5rem/125% var(--font-family);
  --text-heading-3: 700 1.250rem/120% var(--font-family);
  --text-heading-4: 700 1rem/120% var(--font-family);

  --brand-light: #F67841;

  --text-primary: #292524;
  --text-secondary: #57534E;
  --text-tertiary: #8F8881;
  --text-highlight: #E43A12;

  --surface-primary: #FFFFFF;
  --surface-secondary: #FEE7D6;
  --surface-disabled: #E7E5E4;

  --stroke-default: #D6D3D1;
  --stroke-highlight: #F3541C;

  --semantic-error: #DC2626;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 
  font-smooth: auto;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  overflow: hidden;
  
  font: var(--text);
  color: var(--text-secondary);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2 {
  color: var(--text-primary);
}
